body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --green: #5ea813;
    --red: #C01F29;
    --blue: #141E46;
    --black: #202020;
    --gray: #4F4F4F;
    --neutral-color: #E8E8E8;
    --light-gray: #ABABAB;
    --white: #fff;
    --beidge: #F6F6E5;
}
.top_header {
    background-color: var(--black);
    padding: 6px 0;
    color: white;
    display: flex;
    justify-content: center;
}
.icon {
    width: 16px;
}
img {
    max-width: 100%;
}
img, svg {
    vertical-align: middle;
}
.top_header a {
    color: var(--white);
    padding: 0px 5px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;
}
.top_header  svg {
    font-size: 16px;
    position: relative;
    top: 1px;
    height: 16px;
}
.th_1{
    margin-right: 62px;
}
.th_3{
    text-align: end;
    width: 60%;
}
.th_link{
    border-right: 1px solid white;

}
.comlogo{
display: flex;
margin-right: 15vw;
}
.logo{
    height: 74px;
}
.head2{
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.head_list1{
    width: 35px;
    height: 26px;
    object-fit: cover;
    margin-left: 33px;
}
.bottom_header{
    max-width: 1320px;
display: flex;
}
.bh_2{
    list-style-type: none;
    vertical-align: middle;
}
.list_no a{
    color: #202020;
    margin-left: 13px;
}
li,ul{
    display: flex;
}
ul{
   height: 26px;
}
.navbar{
    display: flex;
    width: 75%;
}
nav{
    background-color:var(--blue);
    display: flex;
    
    justify-content: center;
}
.nav_item{
        display: block;
        line-height: 50px;
        padding-inline: 20px;
        color: var(--white);
        text-decoration: none;
        font-weight: 500;
        font-family: 'Poppins', sans-serif !important;

}
.navbar_btn{
    width: 40%;
}
.navbar_btn button{
    color: var(--white);
    background-color: var(--red);
    display: block;
    line-height:50px;
    padding-inline: 20px;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif !important;
    float: right;
    text-align: end;
}
.sec1{
    background: url("https://www.tech2globe.com/images/new-page-images/banner/site-banner.webp");
    background-repeat: no-repeat;
    height: 660px;
    background-size: cover;
    border-bottom-right-radius: 500px;
    background-blend-mode: multiply;
    background-color: rgba(22, 30, 69, 0.50);
}
.sec11{
    color: var(--white);
    line-height: 4rem;
    font-size: 30px;
    font-weight: 800;
    width: 1320px;
    margin-left: 5vw;
}

section{
    padding-block: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.contact_btn{
        position: relative;
        /*overflow: hidden;*/
        border: 1px solid var(--white);
        color: var(--white);
        display: inline-block;
        font-size: 16px;
        line-height: 15px;
        padding: 18px 32px;
        text-decoration: none;
        cursor: pointer;
        background: transparent;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        z-index: 1;
}
.banner{
    display: flex;
}
.banner1{
    display: flex;
     margin: 19px;
}
.banner_img{
    width: 70px;
    height: 70px;

    max-width: 100%;
    vertical-align: middle;
}
.banner_content{
    margin-left: 1rem !important;
}
.banner_content h6{
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}
.banner_content p{
    font-size: 16px;
     margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    unicode-bidi: isolate;
    width: 18vw;
}
.banner1:hover{
    background-color:rgb(249, 248, 247);
    border-radius: 8%;
    padding: 20px;
    box-shadow:3px 3px 18px 1px black;
    cursor: pointer;
    transition-duration: 500ms;
}
.aboutus_heading{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.aboutus_heading::after{
        content: '';
        position: absolute;
        width: 60px;
        height: 4px;
        border-radius: 10%;
        background-color: var(--red);
}
.abt_n{
    font-size: 28px !important;
    color: var(--red);
    font-weight: 800;
}
.about1{
    width: 50%;
}
.aboutus_val_h{
    font-weight: 700 !important;
    color: var(--black);
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 17px;
}
.aboutus_val{
    display: flex;
    
    width: 100%;
    
}
.about_val1,.about_val2,.about_val3.about_val4{
    width: 50%;
    margin-top: .5rem !important;
}
.about_val1,.about_val2,.about_val3,.about_val4{
    width: 100%;
}
.rdmr{
    text-decoration: none;
    color: black;
}
.Aboutus{
    display: flex;
    max-width: 1320px;
}
.abt11{
    display: flex;
}
.abt12{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 85px;
    color: var(--red);
    font-weight: 800;
}
.aboutus_h1{
    font-weight: 700;
}
.abt_p{
    padding-top: 15px;
    line-height: 2rem;
    font-size: 19px;
    color: var(--black)
}
.readmore{
    margin-top: 15px;
}
.achieve_img{
    background-color: var(--red);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 38px;
    width: 70px;
    height: 70px;
    text-align: center;
    padding: 22px;
}
.achieve_heading h3{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    color: var(--white);
    margin-top: 1.5rem;
    height: 18px;
}
.achieve_heading p{
    text-align: center;
    font-size: 16px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}
.achievement{
    display: flex;
    max-width: 1320px;
    vertical-align: middle;
    justify-content: center;
    justify-content: space-between;
}
.acheive_section{
    background-image: url("https://www.tech2globe.com/images/new-page-images/banner/achievement.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 20px 0px;
}
.achieve1{
    width: 16%;
}
.awards_heading{
    display: flex;
    justify-content: center;
    vertical-align: middle;
}
.award2_img {
    padding-left: 24vw;
}
.award_ih{
    font-size: 30px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
}
.awards1{
    text-align: center;
    justify-content: center;
    margin-bottom: 22px;
}

.awards2{
    display: flex;
    margin-right: 190px;
}
.icon1{
    width: 140px;
    height: 80px;
    object-fit: scale-down;
    box-shadow: 0px 0px 30px 15px #e3e3e3ee;
    border-radius: 10px;
    padding: 0px 15px;
    margin-left: 22px;
    margin-bottom: 22px;

    box-sizing: border-box;
    justify-content: center;vertical-align: middle;
     display: flex;
}
.award_icon{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
}
.certificate{
    background: linear-gradient(95deg, rgba(20, 30, 70, 1) 0%, rgba(71, 84, 134, 1) 67%, rgba(27, 43, 134, 1) 100%);
    padding: 5px 72px;
    margin-top: 72px;
    margin-left: -80px;
    z-index: -1;
    position: absolute;
     width: 62%; 
    /*height: 205px;*/
    border-radius: 0px 100px 100px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.certificate1{
    width: 33.33%;
    display: flex;

}
.certificate_icon{
    flex-wrap: wrap;
}
.certificate_content{
    color: var(--white);
    padding-left: 20px;
    padding-top: 15px;
    font-size: 15px;
}
.small-heading {
    font-size: 22px;
    font-weight: 700;
    display: block;
}
.service1{
    border: 2px solid var(--white);
    position: relative;
    padding: 20px;
    min-height: 240px;
    width: 25%;
    justify-content: space-between;
    margin: 22px;
}
.ser_content{
    margin-top: 3rem;
}
.ser_content h4{
    font-size: 24px;
    color: var(--red);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.ser_content p{
    font-size: 16px;
    color: var(--white);
    margin-top: 0;
    margin-bottom: 1rem;
}
.ser_link{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.ser_link a{
    background-color: var(--white);
    padding: 6px 15px;
    color: var(--blue);
    font-size: 10px;
    font-weight: 700;
    border-radius: 50px;
    text-transform: capitalize;
    text-decoration: none;
}
.services{
    background-color: var(--blue);
    display: flex;
    max-width: 1320px;
    flex-wrap: wrap;
}
.ser_section{
    padding-block: 35px;
    background-color: var(--blue);
    padding: 56px 0px;
}
.ser_img{
    position: absolute;
    top: -40px;
    left: 30px;
    width: 85px;
    background-color: var(--blue);
    padding: 10px;
}
.client_heading h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: .7rem;
}
.client_heading{
    text-align: center;
}
.client_heading p{
    padding-bottom: .25rem !important;
}
.client_img{
    padding: 25px;
    width: 150px;
    display: flex;
    height: 50px;
    border: 1px solid #d8d8d8;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
.client_img img{
    vertical-align: middle;
    max-width: 100%;
}
.client1{
    margin: 10px;
    display: flex;
    max-width: 1320px;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}
.client_sec{
    padding-top: 4rem !important;
    padding-bottom: 3rem !important;
}
.client_para{
    display: block;
}
.case-border {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    z-index: -1;
    background-color: var(--red);
    
}
.case_study h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: .7rem;
    text-align: center;
}
.case_study span{
    padding-bottom: 1.5rem;
    text-align: center;
    display: inline-block;
    letter-spacing: 1px;
}
.case_study_heading{
    max-width: 1320px;
}
.c_study_sec{
    flex-direction: column;
    position: relative;
    padding-top: 3rem ;
    padding-bottom: 3rem ;
    padding-block: 35px;
    display: block;
    height: 600px;
}
.case_study,.case_study3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.case_study2 ul{
    justify-content: space-between;
}
.case_study2 ul li{
    flex-direction: column;
  /*  margin-left: 94px;*/
    line-height: 1.5rem;
    padding-left: 44px;
}
.case_study2{
    position: absolute;
    max-width: 1320px;
    min-height: 500px;
    display: block;
   /* margin-left: 64px;*/
}
.case_study_img img{
    width: 235px;
    height: 235px;
    object-fit: cover;
    max-width: 100%;
}
.case_study2_heading{
    margin: 40px auto 0px;
    width: 270px;
}
.case_study2_heading h6{
    font-size: 18px;
    text-align: center;
    margin-block-end: 0em;
    letter-spacing: 1px;

}
.case_study2_heading p{
    font-size: 16px;
    text-align: center;
    min-height: 85px;
    letter-spacing: 1px;

}
.case_study2 li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 15%;
    width: 2px;
    height: 150px;
    background-color: var(--red);
    margin-left: 0px;
    z-index: -1;
    margin-top: -120px;
}
.case_btn{
    border: 1px solid var(--blue);
    padding: 12px 30px;
    font-size: 16px;
    color: var(--blue);
    background-color: transparent;
    border-radius: 2px;
    width: auto;
   /* margin-top: 444px;*/
}
.testimonial_heading h2{
    font-size: 30px;
    font-weight: 700;
    margin-block-start: 0.23em;
    margin-block-end: 0.83em;
    text-align: center;
}
.cards{
    padding: 40px 20px 0px 20px;
    min-height: 280px;
    border: 1px solid #ddd !important;
}
.card_simg>img{
    width: 28%;
    top: 0;
    right: 0;
    position: absolute;
}
.cards h6{
    font-size: 18px;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0rem;
    line-height: 1.2;
}
.cards h5{
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
.card_all{
    display: flex;
    position: relative;
    margin-top: 100px;
}
.crd{
    position: relative;
    margin-right: 25px;

}
 .card_img,.card_img1{
    background: var(--white);
    padding: 5px 8px;
    text-align: center;
    position: absolute;
    top: -50px;
    left: 8.4vw;
    height: 102px;
}
.testimonial{
    max-width: 1320px;
}
.testimonial_heading{
    text-align: center;
}
.portfolio{
    max-width: 1220px;
}
.port_p{
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5rem;
    display: inline-block;
}
.port_slide h6{
    font-size: 18px;
    font-weight: 600;
}
.portfolio-btn{
    background-color: var(--red);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
}
.portfolio2{
    display: flex;
}
.port_slide{
    height: 220px;
}
    .port_slide{
    background-color: var(--beidge);
    position: relative;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    margin-left: 11px;
    top: 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
}
    .port_slide img{
        width: 50%;
        position: absolute;
        top: 0px;
        right: 0;
    }
    .port_h{
        flex-direction: column;
    }
    .port_h h6{
        margin-block-end: 1em;
    }
    .form_sec{
        background-image: url("https://www.tech2globe.com/images/new-page-images/banner/form-banner.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: inline-block;
        width: 100%;
        padding: 65px 0px 50px;
        background-size: cover;
        background-position: center center;
    }
    form input,textarea{
        background-color: #ababab70;
        height: 50px;
        border-radius: 0;
        color: var(--gray);
        font-size: 14px;
        border: none;
    }
    form{
        width: 40vw;
        margin-left: 11vw;
    }
    form input{
        width: 50%;
    }
    form h3{
        width: 100%;
    }
    form .txtarea{
        flex: 0 0 auto;
        width: 91%;
        text-align: center;
    }
    form textarea{
        padding-left: 15px;
        padding-top: 15px;
        margin-top: 15px;

        background-color: #ababab70;
    border-radius: 0;
    color: var(--gray);
    font-size: 14px;
    border: none;
    width: 97%;
    height: 100px;
    overflow: hidden;
    }
     .contact1{
         display: flex;
         justify-content: center
     }
    
  form{
    background-color: var(--white);
    padding: 24px;
    border-radius: 20px  ;
    display: flex;
    flex-wrap: wrap;
}
.in1{
    flex: 0 0 auto;
    margin-top: 15px;
    width: 15vw;
    text-align: center;
    margin-right: 4.3vw;
   
}
.in1 input{
    width: 107%;
    padding-left: 15px;
    padding-top: 15px;
    
}
.red_btn{
    flex: 0 0 auto;
    width: 91%;
}
.submit_btn::before{
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #ebebe130;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    width: 100%;
}
.submit_btn{
    width: 100%;
    background-color: var(--red);
    border-width: 0;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 5px;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1em;
}
.form-text{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column;
    height: 500px;
    margin-left: 5vw;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--white);

}
.form-text p{
    font-size: 16px;
}
.form-text h2{
    font-size: 30px;
    font-weight: 700;
}
.contactus{
    display: flex;
}
.blog h2{
    font-size: 30px;
    font-weight: 700;
}
.blog{
    width: 100%;
}
.blog_sec{
    display: flex;
    flex-direction: column;
}
.blog_card{
    display: flex;
    margin-top: 63px;
}
.card1{
    width: 22.4vw;
    margin-right: 10px;
    box-shadow: 2px 2px 20px 1px #d7d7d7;
    min-height: 400px;
}
/*.card1 p{
    padding: 22px;
}*/
.blog_card h5{
    font-size: 18px;
    font-weight: 700;
    color: var(--blue);
}
.card1{
    padding: 22px;
}
.card{
    margin-right: 22px;
}
/*.blog_card{
    border: none;
    position: relative;
    padding: 20px 20px;
    margin-top: 0px;
    min-height: 430px;
}*/

.main-footer {
    position: relative;
    padding: 0px 0 0 0;
}
.foot_top{
    display: flex;
    background-color: var(--white);
    text-align: center;
    color: var(--black);
    border-top: 2px solid var(--blue);
    padding: 20px 20px 20px 20px;
    margin-top: 0px;
        padding-right: .5rem !important;
        padding-left: .5rem !important;
        align-items: center !important;
}
.address-box{
    width: 100%;
    height: 100%;
    margin-right: 22px;

}

.address-box>img {
    width: 35px;
    height: 26px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 8px;
}
.foot2 ul{
        list-style: none;
        margin-top: 30px;
        margin: 0;
        padding: 0;
}


ul{
    list-style: none;
  }
  .footer{
    background-color:var(--blue);
      padding: 70px 0;
      display: flex;
  }
  .footer ul li{
    display: flex;
    flex-direction: column;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  .foot_li{
    margin-bottom: 18px;
  }
  /*.banner{
    flex-wrap: wrap;
  }*/
  .blog_card{
    flex-wrap: wrap;
  }
  /*
  .case_study2 ul{
    flex-wrap: wrap;
  }*/
  .achievement{
    overflow: hidden;
  }
  .acheive_section{
    display: block;
  }
  .achievement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.achieve1 {
   /* overflow: hidden;*/
    max-width: 220px;
    text-align: center;
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

.achieve_img img {
    width: 100%;
    height: auto;
}
.award2_img2{
    width: 90vw;
}
p.address-bar-p {
    height: 27vh;
}
/*
.achieve_heading {
    padding: 15px;
}*/
/*.card_all{
    overflow: hidden;
}*/
/*.foot_top{
    flex-wrap: wrap;
}*/



  @media (max-width:1360px){
    nav{
        display: none;
    }
    .bh_2{
        display: none;
    }
    
    .top_header{
        display:none;
    }
    .comlogo{
        margin-right: 60vw;
    }
    .about1{
        margin-left: 22px;
    }
  }
   @media (max-width:1320px){
    .client1{
        flex-wrap: wrap;
    }
    .c_study_sec{
        display: none;
    }
    .case_btn{
        display: none;
    }
}
@media (max-width:1180px){
  .certificate{
    position: static;
    margin-left: 8vw;
  }
  .award2_img{
    display: none;
  }
  .awards2{
    margin-left: 10vw;
  }
  .Aboutus{
    display: block;
  }
  .about1,.about2{
    width: 70%;
    margin-left: 8vw;
  }
  .certificate1{
    flex-direction: column;
  }
  .award_icon{
    width: 90vw;
    /*margin-left: 8vw;*/
  }
  .foot_top{
    display: flex;
    flex-wrap: wrap;
  }
  .address-box{
    width: 30%;
    flex-wrap: wrap;
  }
}
@media (max-width:1080px){
.banner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.certificate{
    padding-top: 40px;
       display: flex;
       flex-wrap: wrap;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        position: relative;
        margin-left: 0px;
        margin-bottom: 50px;
    }

.banner_img img{
    margin-left: 64px;
}
.banner_content{
    margin-top: 22px;
}
.banner1{
    display: block;
}

}
@media (max-width:1024px){

    .services{
        display: flex;
        justify-content: center;
        vertical-align:middle ;
    }
    .sec11 h1{
        font-size: 28px;
    }
    .awards2 {
        margin-left: 31vw;
    }
}
@media (max-width:960px){
.certificate1{
    width: 140px;
    display: block;
}

}

@media (max-width:810px){
.banner{
    flex-wrap: wrap;
}
.achieve_img{
    margin-left: 0px;
}
.contact1{
    width: 70%;
}
.form-text{
    display: none;
}
}
@media (max-width:710px){
    .award_icon{
        margin-left: 1vw;
    }
}

@media (max-width:710px){
    .in1{
        width: 83%;
        padding-top: 0px;
    }
.banner1{
    width: 100%;
   margin-left: 20%;
}
.card_all{
    display: flex;
    flex-wrap: wrap;
}
.card_simg{
left: 28.4vw;
}
.card_simg>img{
width: 15%;
}
.card1{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
}
.blog_card{
    justify-content: center;
}
/*.award_sec{
    display: block;
}*/
.achieve1{
    width: 50%;
}
.banner_content p{
    width: 100%;
}
.portfolio2{
    flex-wrap: wrap;
}
.port_slide{
    margin: 22px;
}

}
@media (max-width:580px){
.service1{
    width: 100%;
}
.address-box{
    width: 50%;
    flex-wrap: wrap;
  }
  .foot_top{
    justify-content: center;
  }
.footer{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width:420px){
.award2_img2 {
    width: 60vw;
}
}